@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
    margin: 0px;
    padding: 0px;
    background: linear-gradient(to bottom, #567788 0%,
    #121f25 100%) no-repeat center center;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #333333;
}

nav {
    background: #eff4f7;
    margin: 40px;
    position: relative;
    z-index: 5;
    height: 80px;
}

nav a {
    text-decoration: none;
    color: #a4a8a9;
}

nav ul {
    padding: 20px 20px 0px 20px;
    float: right;
}

nav li {
    display: inline-block;
    text-decoration: none;
    margin-right: 20px;
    padding-bottom: 32px;
}

nav li:hover {
    cursor: pointer;
    border-bottom: 3px solid #70e9ff;
}

nav a:hover {
    color: #333;
}

section.logo {
    position: absolute;
    z-index: 0;
    top: -10px;
    left: 550px;
    background: #ea3d51;
    width: 140px;
    height: 140px;
    margin: 20px;
}

h1.brand {
    text-transform: uppercase;
    text-align: center;
    font-size: 50px;
    font-weight: 900;
    padding: 10px;
    color: #fff;
    margin: 72px 0 0 0;
}

main {
    background: #cbd0d9;
    width: 80%;
    margin: 0 auto;
    padding: 0 auto;
}

h1.book-title {
    position: relative;
    z-index: 10;
    color: #121f25;
    font-size: 54px;
    margin: 0;
}

h5.book-genre {
    position: relative;
    z-index: 3;
    top: -80px;
    left: 80px;
    color: #6dffb8;
    font-size: 120px;
    margin: 0;
}



















































